<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='../style.css' rel='stylesheet' type='text/css'>
    <title>Player Details & Stats</title>
</head>
<body>


    <h1>Game Stats</h1>
    <% console.log(stat) %>
    <h3><%=stat.game %></h3>
    
    <h5>Two Point</h5>
    <p><%=stat.twoPoint %></p>
    <h5>Three Point</h5>
    <p><%=stat.threePoint %></p>
    <h5>Free Throws</h5>
    <p><%=stat.freeThrow %></p>
    <h5>Rebound</h5>
    <p><%=stat.rebound %></p>
    <h5>Assists</h5>
    <p><%=stat.assist %></p>
    <h5>Steals</h5>
    <p><%=stat.steal %></p>
    <h5>Game MVP</h5>
    <p><%=stat.mvp %></p>
    

  
   
   
   
   <a href = '/stats'>Back to Main Page</a> <br />
   <a href = '/stats/<%=stat._id%>/edit'>Edit Stats</a> <br />
       
   
   
   


    
    
    
    
    
<img src = 'http://files.planetofsuccess.com/blog/wp-content/uploads/2017/04/basketball5.jpg' width='300' height='400' alt='Michael Jordan Quote'>
    <br></br>
</body>
</html>